p,h1{
    margin:10px;
}
.car-info{
    text-align: Left;
}

img{
    padding:10px;
    width:70%;
    flex-shrink: 0;
    max-height: 600px;
}
.car-info{
    display:flex;
    flex-direction:row;
    border: 1px solid grey;
    padding:10px;
    height:100%;
}

.card{
    border-left: 1px solid grey;
    padding : 10px;
    margin: 10px;
}

 /* Responsive Styles */
 @media screen and (max-width: 767px) {

    .img{
      width:auto;
      height:100px;
    }
    .car-info {
      display: flex;
       flex-direction: column;
       justify-content: center; 
      margin: 16px;
    }
    .card{
        border-top: 1px solid grey;
        padding : 30px;
        margin: 10px;
    }  
  
  }

  