<div class="content">
  <div class="form-container">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Cars in each quarter </mat-label>
        <mat-select (selectionChange)="selectedValue($event)" [(value)]="selectedQuarter">
          <mat-option value="full_year">2020 Full year</mat-option>
          <mat-option value="q1">2020 Q1</mat-option>
          <mat-option value="q2">2020 Q2</mat-option>
          <mat-option value="q3">2020 Q3</mat-option>
          <mat-option value="q4">2020 Q4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <span style="padding-left:50px;"></span>
     <div>
      <mat-form-field appearance="fill">
        <mat-label>Cars Release status </mat-label>
        <mat-select (selectionChange)="selectedStatus($event)" [(value)]="selectedStat">
          <mat-option value="Released">Released</mat-option>
          <mat-option value="Upcoming">Upcoming</mat-option>
        </mat-select>
      </mat-form-field>
     </div>
     <span style="padding-left:50px;"></span>
     <div>
      <button style="margin-top:10px;" (click)="reset()" color="primary" mat-raised-button>Reset</button>
     </div>
  </div>
   
    <div class="card-container">
      <div class="card"  *ngFor="let car of filteredCars; index as i;">
        <img src={{car.picture_url}} height="150" width="250" alt="cars">
        <p class="car-header">{{car.make}}</p>
        <button mat-raised-button [routerLink]="['car', car._id]" >Show More</button>
      </div>
    </div>
</div>
